/*******************************************************Tag Selectors*****************************************************/
body {
  background-color: #badfdb;
  text-align: center;
}

hr {
  height: 0px;
  width: 5%;
  border-color: #f8a978;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
}

table {
  margin: 0 auto 0 auto;
  background-color: #f8a978;
}

ol {
  margin: 0 auto 0 auto;
}

h1 {
  color: #347474;
}

h2 {
  color: #347474;
}

h3 {
  color: #347474;
}

h4 {
  color: #347474;
}

/*******************************************************Class Selectors*****************************************************/
.me {
  background-color: #347474;
}

.uoList {
  width: 200px;
  margin: 0 auto 0 auto;
}

.oList {
  width: 200px;
  margin: 0 auto 0 auto;
}

.OtherPages {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  position: relative;
  left: 15px;
}

.navBar {
  background-color: #f8a978;
  position: fixed;
  top: 10px;
  right: 100px;
}
