body {
  background-color: #badfdb;
}

hr {
  height: 3px; background-color: #347474;
}
table {
  background-color: #f8a978;
}
h1 {
  color: #f8a978; background-color: #fcf9ea; width: 25%;
}
h2 {
  color: #f8a978; background-color: #fcf9ea; width: 15%;
}
h3 {
  color: #f8a978; background-color: #fcf9ea; width: 15%;
}
h4 {
  color: #f8a978; background-color: #fcf9ea; width: 15%;
}
