/*******************************************************Tag Selectors*****************************************************/
body {
  background-color: #badfdb;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

hr {
  height: 0px;
  width: 5%;
  border-color: #f8a978;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
}

table {
  margin: 0 auto 0 auto;
  background-color: #f8a978;
}

ol {
  margin: 0 auto 0 auto;
}

h1 {
  color: #347474;
  font-family: 'Squada One', cursive;
}

h2 {
  color: #347474;
  font-family: 'Squada One', cursive;
}

h3 {
  color: #347474;
  font-family: 'Squada One', cursive;
}

h4 {
  color: #347474;
  font-family: 'Squada One', cursive;
}

/*******************************************************Class Selectors*****************************************************/
.me {
  background-color: #347474;
}

.uoList {
  width: 200px;
  margin: 0 auto 0 auto;
}

.oList {
  width: 200px;
  margin: 0 auto 0 auto;
}

.OtherPages {
  color: #347474;
  margin: 0 auto;
  position: relative;

}

.navBar {
  background-color: #f8a978;
  position: fixed;
  top: 10px;
  right: 100px;
}

/*-------------------- Portfolio Classes --------------------*/
.table-img {
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}
#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background: red;
}
#Kratos{
  width: 50px;
  height: 50px;
}
#button{
  text-align: left;
}
